@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

.content {
  display: flex;
}

.right-side {
  display: grid;
  place-items: center;
  width: 100vw;
}

.bg-big {
  display: block;
  position: relative;
}

form {
  width: 30em;
}

.card-input-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.row-date-cvc {
  display: flex;
}

.card-input-form input {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(279, 6%, 55%);
  transition: all ease-in-out 150ms;
}

.card-input-form input:focus {
  outline: none;
  border-color: hsl(249, 99%, 64%) hsl(249, 99%, 64%) hsl(278, 94%, 30%)
    hsl(278, 94%, 30%);
}

.card-input-form label {
  color: hsl(278, 68%, 11%);
  cursor: text;
}

.card-input-form .exp-date {
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.card-input-form .exp-date input {
  width: 100%;
}

.card-input-form .cvc input {
  width: 100%;
}

.submit-btn {
  cursor: pointer;
  color: white;
  background-color: hsl(278, 68%, 11%);
  border: none;
}

.cards {
  display: grid;
  align-content: center;
  place-items: center;
  height: 100vh;
  margin: 0;
  position: absolute;
  left: 5em;
  gap: 2rem;
}

.card-back-img {
  width: 100%;
  margin-left: 200px;
}

.card-back-img,
.card-front-img {
  position: relative;
  max-width: 25rem;
  min-width: 300px;
}

.content-front {
  position: absolute;
  z-index: 1000;
  left: 30%;
  bottom: 60%;
  color: white;
}
.content-front .nameAndDate {
  display: flex;
  justify-content: space-between;
}
