@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --clr--white: hsl(0, 0%, 100%);
  --clr--gray: hsl(270, 3%, 87%);
  --clr-dark-gray: hsl(279, 6%, 55%);
  --clr-dark-violet: hsl(278, 68%, 11%);

  --border-violet: hsl(249, 99%, 64%);
  --border-dark-violet: hsl(278, 94%, 30%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  overflow-y: hidden;
}

.img-bg {
  display: block;
  position: absolute;
  width: 30%;
  height: 100%;
  background-image: url("/interactive-card-details-form-main/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px solid blue;
}

.content {
  display: flex;
}

.cardAndForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}

.right-side {
  display: grid;
  place-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 28rem;
}

.card-input-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row-date-cvc {
  display: flex;
}

.card-input-form input {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-dark-gray);
  transition: all ease-in-out 150ms;
}

.card-input-form input:focus {
  outline: none;
  border-color: var(--border-violet) var(--border-violet)
    var(--border-dark-violet) var(--border-dark-violet);
}

.card-input-form label {
  font-size: 16px;
  color: var(--clr-dark-violet);
  cursor: text;
}

.card-input-form .exp-date {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-right: 2rem;
}

.card-input-form .exp-date input {
  width: 100%;
}

.card-input-form .cvc {
  width: 100%;
}

.submit-btn {
  cursor: pointer;
  color: var(--clr--white);
  background-color: hsl(278, 68%, 11%);
  border: none;
}

.cards {
  --padding-card: 2rem;

  display: block;
  border: 5px solid red;
  z-index: 100000;
}

.content-front,
.content-back {
  position: relative;
  max-width: min-content;
}

.content-back {
  top: var(--padding-card);
  left: 8rem;
}

.card-back-img,
.card-front-img {
  display: block;
  border: 2px solid rgb(77, 255, 0);
  width: 350px;
}

.content-front > *:not(.card-front-img),
.content-back > *:not(.card-back-img) {
  position: absolute;
  z-index: 1000;
  color: var(--clr--white);
}

.card-front-logo {
  top: var(--padding-card);
  left: var(--padding-card);
}

.card-number {
  font-size: 1.3rem;
  letter-spacing: 2px;
  left: var(--padding-card);
  top: 50%;
}

.card-name {
  font-size: 0.8rem;
  bottom: var(--padding-card);
  left: var(--padding-card);
}

.card-date {
  font-size: 0.8rem;
  bottom: var(--padding-card);
  right: var(--padding-card);
}

.card-cvv {
  font-size: 0.8rem;
  bottom: 13vh;
  right: 3vw;
}

@media (max-width: 768px) {
  body {
    overflow-y: scroll;
  }

  .cardAndForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
  }

  form {
    margin: 1rem;
    max-width: 100%;
    gap: 1.5rem;
    padding: 5vh 0 1vh 0;
    border: 5px solid turquoise;
  }

  .right-side {
    border: 5px solid blue;
  }

  .card-input-form {
    gap: 0.75rem;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 36vh;
    width: 100%;
    margin: 0 1rem;
  }

  .card-input-form .exp-date {
    gap: 0.75rem;
    padding-right: 1rem;
  }

  .content-back,
  .content-front {
    position: absolute;
  }

  .card-back-img,
  .card-front-img {
    width: 300px;
  }

  .card-number {
    font-size: 1rem;
    left: 1.5rem;
  }

  .card-name,
  .card-date {
    font-size: 0.8rem;
  }
  .card-name {
    left: 1.5rem;
  }
  .card-date {
    right: 1.5rem;
  }

  .card-cvv {
    bottom: 5.75vh;
    right: 10vw;
  }

  .content-front {
    z-index: 1000;
    bottom: 0;
    left: 1rem;
  }

  .content-back {
    left: 4rem;
    bottom: 8rem;
  }

  .img-bg {
    width: 100%;
    height: 30%;
    background-image: url("/interactive-card-details-form-main/images/bg-main-mobile.png");
  }
}

@media (max-width: 425px) {
  .card-input-form label,
  input {
    font-size: 16px;
  }

  .content-back {
    top: 0;
  }
}
